:root {
  --primary-color: #5014ee;
  --primary-font-color: white;
  --secondary-color: #dc30b4;
  --default-color: #3e4450;
  --accent-color: #67cabe;
  --ghost-color: transparent;
  --ghost-font-color: black;
  --link-color: #5014ee;
  --background-color: black;
}

h2 {
  text-align: center;
  padding-top: 50px;
}
